<div class="container"></div>

<div class="row">
  <div class="col-sm-12 text-left pl-10">
    <h1>Scrapegrace!</h1>
    <h4>A Rascal of a News Site for Chapel Hill, NC</h4>
    <br>
    {{# each articles }}
      <div class="caption">
        <h5>{{ this.title }}</h5>
        <p>{{ this.summary }}</p>
        <p>articles/{{ this._id }}</p>
        <a href='{{ this.link }}' class="btn btn-success btn-sm" target="_blank">Read</a>
        {{!-- TODO: make this work / clean out unneeded stuff--}}
        {{!-- <button class="comment btn btn-info btn-sm" data-id="{{id}}" data-devoured="{{devoured}}">Comment</button> --}}
        {{!-- <button type="button" class="comment btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Comment</button> --}}
        <h6>Add A Note</h3>
        <form class="create-form">
          <div class="form-group">
            <label for="nt">Title:</label>
            <input type="text" id="nt" name="title">
          </div>
          <div class="form-group">
            <input type="text" id="nb" name="body">
          </div>
            <input type="hidden" id="articleId" name="articleId" value="{{this._id}}">
          <button type="submit" class="btn btn-success">Save Comment</button>
        </form>

        <br>
        <br>
        <br>
      </div>
    {{/each}}
    {{!-- <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Comment</h4>
          </div>
          <div class="modal-body">
              <form class="create-form">
              <div class="form-group">
                {{!-- TODO - make wider and multiline --}}
                <input type="text" id="nb" name="name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end of modal --> --}}
  </div>
</div> // end of row