<div class="container"></div>

<div class="row">
  <div class="col-sm-12 text-left pl-10">
    <h1>Scrapegrace!</h1>
    <h4>A Rascal of a News Site for Chapel Hill, NC</h4>
    <br>
    {{# each articles }}
      <div class="caption">
        <h5>{{ this.title }}</h5>
        <p>{{ this.summary }}</p>
        <p><strong>Comment:</strong>  {{this.note.body}}</p>
        <a href='{{ this.link }}' class="btn btn-success btn-sm" target="_blank">Read Article</a>
        {{!-- TODO: make this work --}}
        <form class='delete-group'>
          <input type="hidden" class="noteId" value="{{this.note._id}}">
          <button type="submit" class="btn btn-danger btn-sm">Delete Note</button>
        </form>
        <h6>Add A Comment</h3>
        {{!-- <form class="create-form">
          <div class="form-group">
            <label for="nt">Title:</label>
            <input type="text" id="nt" name="title">
            <label for="nt">body:</label>
            <input type="text" id="nb" name="body">
          </div>
            <input type="hidden" class="articleId" name="articleId" value="{{this._id}}">
          <button type="submit" class="btn btn-success">{{this._id}}</button>
        </form> --}}
        <form class="create-form">
          {{!-- todo remove title after model is updated --}}
          {{!-- <div class="form-group">
            <label for="nt">Title:</label>
            <input value={{this.note.title}} type="text" id="nt" name="title">
          </div> --}}
          <div class="form-group">
            <input value={{this.note.body}} type="text" id="nb" name="body">
          </div>
            <input type="hidden" class="articleId" name="articleId" value="{{this._id}}">
          <button class="noteSubmit" data-id={{this.id}} type="submit" class="btn btn-success">{{this._id}}</button>
          </form>
        <br>
        <br>
        <br>
      </div>
    {{/each}}
  </div>